<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrowserPicker"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooserActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.BrowserPicker.Transparent">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- We need to duplicate the layout specs, at least for now, as this activity is opened
                 first and essentially dictates the window size in the desktop mode. -->
            <layout
                android:defaultWidth="350dp"
                android:defaultHeight="600dp"
                android:gravity="center" />
        </activity>
        <activity
            android:name=".chooser.MultiWindowChooserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:excludeFromRecents="false"
            android:resizeableActivity="true"
            android:taskAffinity="com.github.redborsch.browserpicker.BrowserChooser">
            <layout
                android:defaultWidth="350dp"
                android:defaultHeight="600dp"
                android:gravity="center" />
        </activity>
        <activity
            android:name=".chooser.BottomSheetChooserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:excludeFromRecents="false"
            android:resizeableActivity="true"
            android:taskAffinity="com.github.redborsch.browserpicker.BrowserChooser"
            android:theme="@style/Theme.BrowserPicker.Transparent" />
        <activity
            android:name=".customizer.CustomizerActivity"
            android:label="@string/activity_label_customizer" />
    </application>

</manifest>